/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* main style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f7f8;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
th,
td {
  color: #3c4355;
  margin-bottom: 20px;
}

p {
  color: #9fa6b9;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 9px 40px rgba(148, 148, 148, 0.09);
  border-radius: 5px;
  padding: 30px;
}

img {
  width: 100%;
}

.btn {
  padding: 10px 30px;
  color: #3d3d44;
  transition: all 0.3s ease;
  border-radius: 3px;
  text-align: center;
  max-width: 150px;
  margin-top: 20px;
}

.btn-main {
  color: #fff;
  background: linear-gradient(
    180deg,
    rgb(65, 195, 253) 0%,
    rgb(68, 167, 234) 100%
  );
}

.btn-main:hover {
  box-shadow: 0px 5px 20px 0px rgba(101, 139, 227, 0.25);
}

/* style bagian header */
/*=========== Header ===========*/
header {
  position: relative;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../image/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  border-radius: 0px 0px 30% 100% / 10%;
}

/* Nav */
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 20px 25px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold;
}

/* sticky */
/* style untuk sticky jika aktif */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(28, 38, 57, 0.168627) 0px 1px 4px;
  z-index: 2;
}

.sticky ul li a {
  color: #000000;
}

/* Header text content */
/* style untuk heading background header */
#headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#headerText h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 64px;
}

/* style bagian main */
/*=========== main ===========*/
/* container untuk tentang */
#tentang-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -160px;
  text-align: center;
}

/* container unutk aside dan content */
#main-flex-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

/* style untuk bagian aside */
/* aside */
aside {
  width: 30%;
}

aside h1 {
  text-align: center;
}

aside article {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

aside #photoProfile {
  margin-bottom: 30px;
}

aside #photoProfile img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

/* style untuk bagian Content */
/* Content */
#content {
  width: 70%;
  padding-left: 20px;
}

/* style untuk sub bagian content */
/* Destinasi */
article#destinasi h1 {
  text-align: center;
}

article#destinasi section {
  margin-bottom: 30px;
}

article#destinasi .destinasi-inner {
  display: flex;
  padding: 0;
}

article#destinasi img {
  width: 40%;
  height: 368px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

article#destinasi .destinasiContent {
  padding: 30px;
}

/* Galeri */
#galeri h1 {
  text-align: center;
}

.galeri-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeri-inner img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transition: all 1s;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.galeri-inner img:nth-child(1) {
  flex-grow: 2;
}

.galeri-inner img:nth-child(4) {
  flex-grow: 2;
}

.galeri-inner img:nth-child(5) {
  flex-grow: 2;
}

.galeri-inner img:hover {
  transform: scale(1.1);
}

/* style untuk bagian footer */
/* Footer */
footer {
  background-color: #ffffff;
  margin-top: 30px;
  padding: 20px 0px;
  text-align: center;
  box-shadow: rgba(28, 38, 57, 0.168627) 0px 1px 4px;
}

/* style untuk versi mobile */
@media (max-width: 992px) {
  /* main style */
  p {
    font-size: 14px;
  }

  /* style bagian header */
  /* Header */
  .jumbotron {
    height: 70vh;
    border-radius: 0px 0px 30% 100% / 10%;
  }

  /* Nav */
  nav ul li {
    list-style: none;
    padding: 20px 20px;
  }

  /* Hedear Text */
  #headerText h1 {
    font-size: 34px;
  }

  /* style bagian main */
  /* container unutk aside dan content */
  #main-flex-container {
    flex-direction: column-reverse;
  }

  /* aside */
  aside {
    width: 100%;
  }

  aside table {
    font-size: 14px;
  }

  /* Content */
  #content {
    width: 100%;
    padding: 0;
  }

  /* Destinasi */
  article#destinasi .destinasi-inner {
    flex-direction: column;
    padding: 0;
  }

  article#destinasi img {
    width: 100%;
    height: 200px;
  }
}
